:root {
  --main-bg-color: #f4f3ec;
  --main-txt-color: #331e16;
  --main-padding: 15px;
  --header-bg-color: #bb4b02;
  --fade-txt-color: #716d61;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--main-txt-color);
}

.page-404 {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loading:after {
  content: "Loaing...";
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.chart-container {
  margin-top: 2rem;
  padding-bottom: 1.8rem;
  border-bottom: 3px solid var(--header-bg-color);
}

.news-wrapper {
  padding-bottom: 2rem;
  position: relative;
}

.news-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
}

.news-table th {
  font-weight: 600;
  padding: 0.5rem 2px;
  background-color: var(--header-bg-color);
  font-size: 0.8rem;
  color: #fff;
}

.news-table td {
  padding: 0.5rem 0;
}

.author,
.news-anchor {
  color: var(--main-txt-color);
  margin-right: 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.domain-name,
.time {
  color: var(--fade-txt-color);
  font-size: 0.8rem;
}

.btn-upvote,
.btn-hide {
  border: 0;
  background-color: transparent;
  margin-left: 0.3rem;
  cursor: pointer;
}

.btn-upvote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.3rem 0.5rem 0.3rem;
  border-color: transparent transparent #999898 transparent;
  color: transparent;
  text-indent: -999999px;
  display: inline-block;
  vertical-align: middle;
}

.btn-hide:hover {
  color: var(--header-bg-color);
}

.btn-upvote:hover {
  border-color: transparent transparent var(--header-bg-color) transparent;
  color: transparent;
}

.center-align-text {
  text-align: center;
}
.left-align-text {
  text-align: left;
}

.pagination {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.8rem;
  border-bottom: 3px solid var(--header-bg-color);
}

.pagination .button {
  margin-right: 1.25rem;
  border-right: 2px solid var(--header-bg-color);
  color: var(--header-bg-color);
  padding-right: 1.25rem;
  text-decoration: none;
}

.pagination .button:last-child {
  border-right: 0;
}

.pagination .button:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
